body {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.app {
    position: relative;
}
.desc {
    text-align: center;
    line-height: 20px;
    margin: 136px 24px 24px 24px;
}
.styledBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 130px;
}
.cell { 
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding: 8px;
    cursor: pointer;
}
.cell_main { 
    padding: 7px 4px;
}